h1 {
	color: white;
	margin-bottom: 100px;
	align-self: flex-start;
}
body {
	background: blue;
	margin: auto;
	display: block;
	font-family: sans-serif;
	text-align: center;
}
#board {
	margin: auto;
	display:inline-block;
	border: solid 10px orange;
	border-radius: 10px;
	background: orange;
}
.row {
	overflow: auto;
}
.tile {
	line-height: 150px;
	float: left;
	margin: 3px;
	background: lightblue;
	font-size: 50px;
	height: 150px;
	text-align: center;
	width: 150px;
	color: orange;
}
.tile-2 {
	background: #00E3E5;
}
.tile-4 {
	background: #058BE7;
}
.tile-8 {
	background: #0A37E9;
}
.tile-16 {
	background: #3A10EB;
}
.tile-32 {
	background: #9415ED;
}
.tile-64 {
	background: #EB1BEF;
}
.tile-128 {
	background: #F121A2;
}
.tile-256 {
	background: #F32655;
}
.tile-512 {
	background: #F54E2C;
}
.tile-1024 {
	background: #F7A132;
}
.tile-2048 {
	background: #F9F038;
}
@media screen and (max-width: 650px) {
	.tile {
		height: 100px;
		width: 100px;
		line-height: 100px;
		font-size: 30px;
	}
}
@media screen and (max-width: 520px) {
	.tile {
		height: 50px;
		width: 50px;
		line-height: 50px;
		font-size: 15px;
		margin: 2px;
	}
	#board {
		border: solid 5px orange;
	}
}
@media screen and (max-width: 247px) {
	.tile {
		height: 25px;
		width: 25px;
		line-height: 25px;
		font-size: 7.5px;
		margin: 1px;
	}
	#board {
		border: solid 2.5px orange;
		border-radius: 5px;
	}
}

